body {
    text-align: center;
    border: 5px solid black;
    border-radius: 40px;
    max-width: 800px;
   


}

h1{
    border: 3px solid black;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 40px;
    font-style: italic;
    width: 70%;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    



}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;

    border: 1px solid black;
}

.board td:hover {
    background-color: lightsalmon;
   
}



.hidden {
    background-color: #cbcbcb;
    color: transparent;
    cursor: pointer;
    /* opacity: 0; */
    font-size: 0;

   
}

.hidden:hover {
    background-color: #bbb;
}


.looser-window {
    margin-top: 50px;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
    display: none;
    margin: auto;
}

.marked {

    font-weight: bold;
}

.diff {
    margin-top: 30px;
    margin-bottom: 40px;
}

.face {
    width: 40px;
}